# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.class

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Environments
.env
.venv
env/
venv/

# IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints

# Project specific
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
outputs/*
!outputs/.gitkeep
